<!DOCTYPE html>
<html lang="en">

<head>
    <title>The ArtW File Upload</title>
</head>

<body>
    <h1>TheARTW File Upload Boilerplate</h1>

    <form action="/" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" id="myFile" required />
        <input type="text" name="artistName" id="artistName" placeholder="Enter Arist Name" required />
        <input type="text" name="year" id="year" placeholder="Emter Year of Make" required />
        <input type="text" name="otherDetails" id="otherDetails" placeholder="Enter Other Details" required />
        <input type="text" name="technique" id="technique" placeholder="Enter Technique" required />
        <input type="submit" value="Upload" />
    </form>
</body>

</html>