<form method="post" enctype="form-data" action="/write/mint">

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter address" id="mint_to" name="mint_to" type="mint_to"
            data-rule-required="true" data-msg-required="Please enter address.">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="no_of_token_to_create" id="no_of_token_to_create"
            name="no_of_token_to_create" type="no_of_token_to_create" data-rule-required="true"
            data-msg-required="Please enter number.">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="token_uri" id="token_uri" name="token_uri" type="token_uri"
            data-rule-required="true" data-msg-required="Please enter token_uri">
    </div>

    <div class="btn-gorup">
        <button type="submit" id="mint" class="btn btn-common">MINT</button>
    </div>

</form>